:root {
	--primary-color: #1D3557;
	--secondary-color: #457B9D;
	--accent1-color: #A8DADC;
    --accent2-color: #F1FAEE;
    --accent3-color: #E63946;
	--heading-font: "IM Fell French Canon SC";
	--paragraph-font: "Roboto", Helvetica, sans-serif
}

body{
	background-color: #A8DADC;
	font-family: "Roboto", Helvetica, sans-serif;
}

header, main, footer {
	max-width: 960px;
	margin: 0 auto;
	
}

header{
	padding: 5px 0;
	display: flex;
	align-items:center;
	/* justify-content:left; */
}

header img {
	width: 125px;
	height: auto;
}
.heading h1 {
	font-size: 2rem;
	color: navy;
	margin: 0;
	display: flex;
}

main{
	padding: 0px 100px 0px 100px;
	/* margin: 6px; */
}


.par{
	background-color: #F1FAEE;
	width: 400px;
	align
	

}

nav > ul{
	list-style-type: none;
	display: flex;
	
	/* flex: 1; */
}

nav li{
	padding: 20px;
}

nav{
	color: blue;
	font-family: "Lucida Console";
	font-size: .8rem;
	text-align: center;
	justify-content:right;
	/* line-height: 30px; */
	/* padding: 20px; */
}

.social{
	display: flex;
}

.contact{
	display: flex;
}

